html,body{
    height: 100%;
    width: 100%;
}
header{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.left img{
    width: 70px;
    height: 70px;
}

.container{
    max-width: 80vw;
    padding: 0px 10vw;
    margin: 13px 0px;
    font-size: 15px;
    ;
}
nav ul li{
    list-style: none;
    padding: 0 12px;
}
.bar{
    width: 34;
    padding: 4px 100px;
}
.section-1{
    background-color: antiquewhite;
    padding-left: 200px;
}
footer{
    padding: 23px;
    text-align: center;
    box-shadow: 0px 3px 10px;
}